# Mac 
.DS_Store

# Test
*.test
/*.json
tmp

# Coverage
*.out

# Binaries
bin
dist

# Keys 
cosign.*
*.pem
/keys

# IDEs
.idea/*
.vscode/*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.lock.hcl
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Logs
crash.log
crash.*.log

# docker 
digest.txt

# Data
/data
*.db
.digest
