{{ define "exposure" }}
{{ template "header" . }}
    <h2>{{ .img }}@{{ .dig }}</h2>

    <section>
        <h3>Exposures:</h3>
        <div class="exposures">
        {{ range $pkg, $p := .list.Packages }}
            <div class="package">
                <div>{{ $pkg }}</div>
                <div class="version">
                    {{ range $ver, $v := $p.Versions }}
                    <div>{{ $ver }}</div>
                        {{ range $src, $s := $v.Sources }}
                        <div>{{ $src }}</div>
                            {{ range $exp, $e := $s.Exposures }}
                            <div><a href="https://nvd.nist.gov/vuln/detail/{{ $exp }}" target="_blank">{{ $exp }}</a> - {{ $e.Severity }} ({{ $e.Score }}, {{ $e.Fixed }})</div>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>  
        {{ end }}
        </div>
    </section>

{{ template "footer" . }}
{{ end }}