{{ define "image" }}

{{ template "header" . }}

<!-- Middle  -->

    {{ $image := . }}
    <h1>{{ .img }}</h1>

    <div class="box gray">
        <div id="image-chart"></div> 
    </div>

    <section>
        {{ with .data }}
            <div class="group">
                <h3>Now:</h3>
                <div class="group">
                <p>Span: {{ .FirstReading }} - {{ .LastReading }}</p>
                <p>Images: {{ .ImageCount }}</p>
                <p>Versions: {{ .VersionCount }}</p>
                <p>Sources: {{ .SourceCount }}</p>
                <p>Packages: {{ .PackageCount }}</p>
                {{ with .Exposure }}
                    <ul>
                        <li>Total: {{ .Total }}</li>
                        <li>Negligible: {{ .Negligible }}</li>
                        <li>Low: {{ .Low }}</li>
                        <li>Medium: {{ .Medium }}</li>
                        <li>High: {{ .High }}</li>
                        <li>Critical: {{ .Critical }}</li>
                        <li>Unknown: {{ .Unknown }}</li>
                    </ul>
                {{ end }}
                </div>
            </div>
        {{ end }}
    </section>

    <section>
        <h3>Versions:</h3>
        {{ range $k, $v := .list }}
            <div class="group">
                <h4><a href="/exposure?img={{ $image.img }}&dig={{ $k }}">{{ $k }}</a></h4>
                <div class="group">
                {{ range $v }}
                    <p>{{ .Source }}: {{ .PackageCount }} ({{ .FirstReading }}-{{ .LastReading }})</p>
                {{ end }}
                </div>
            </div>
        {{ end }}
    </section>

<!-- End Middle  -->

{{ template "footer" . }}

{{ end }}