{{ define "image" }}

{{ template "header" . }}

<!-- Middle  -->

    {{ $image := . }}
    <h1>Image: {{ .img }}</h1>

    <section>
        {{ with .data }}
            <h3>Summary:</h3>
            <p>Span: {{ .FirstReading }} - {{ .LastReading }}</p>
            <p>Images: {{ .ImageCount }}</p>
            <p>Versions: {{ .VersionCount }}</p>
            <p>Sources: {{ .SourceCount }}</p>
            <p>Packages: {{ .PackageCount }}</p>
            {{ with .Exposure }}
                <ul>
                    <li>Total: {{ .Total }}</li>
                    <li>Negligible: {{ .Negligible }}</li>
                    <li>Low: {{ .Low }}</li>
                    <li>Medium: {{ .Medium }}</li>
                    <li>High: {{ .High }}</li>
                    <li>Critical: {{ .Critical }}</li>
                    <li>Unknown: {{ .Unknown }}</li>
                </ul>
            {{ end }}
        {{ end }}
    </section>

    <section>
        <h3>Versions:</h3>
        {{ range $k, $v := .list }}
            <div class="version">
                <h4><a href="/exposure?img={{ $image.img }}&dig={{ $k }}">{{ $k }}</a></h4>
                <div class="version-source">
                {{ range $v }}
                    <p>{{ .Source }}: {{ .PackageCount }} ({{ .FirstReading }}-{{ .LastReading }})</p>
                {{ end }}
                </div>
            </div>
        {{ end }}
    </section>

<!-- End Middle  -->

{{ template "footer" . }}

{{ end }}